html, body
{
    margin: 0;
    padding: 0;
}

body
{
    display: grid;
}

body>*
{
    padding: 2ex 4em;
}

header
{
    background: black;
    color: white;
}

nav
{
    background: gray;
    padding-top: 0;
    padding-bottom: 0;
}

nav ul
{
    list-style: none;
    display: flex;
}

nav ul li
{
    display: block;
    margin-right: 2em;
    padding: 4em 2em;
    color: black;
}

nav ul li:hover
{
    background: black;
    color: white;
    cursor: pointer;
}

footer
{
    display: flex;
}

.lesson
{
    background: yellow;
}
