body
{
    display: grid;
    margin: 0;
    padding: 4em;
}

header
{
    background: black;
    color: white;
}

nav
{
    background: gray;
}

nav ul
{
    list-style: none;
    display: flex;
}

nav ul li
{
    display: block;
    margin-right: 2em;
    padding: 1ex 1em;
}

nav ul li:hover
{
    background: black;
    color: white;
    cursor: pointer;
}

footer
{
    display: flex;
}

.lesson
{
    background: yellow;
}
