:root
{
    --color-footer-bg: #316143;
    --color-nav-hover-bg: var(--color-footer-bg);
    --color-nav-bg: #428459;
    --color-h1-txt: #81c499;
    --color-h3-txt: var(--color-h1-txt);
    --color-footer-txt: #a3d5b5;
    --color-nav-txt: var(--color-footer-txt);
    --color-nav-hover-txt: white;
    --color-main-bg: #f0fff8;
    --color-contact-bg: #e0f8f0;
}

html, body
{
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    flex-direction: column;
}

body>*
{
    padding: 2ex 4em;
}

header
{
    background: black;
    color: white;
}

nav
{
    background: var(--color-nav-bg);
    padding-top: 0;
    padding-bottom: 0;
}

nav ul
{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li
{
    display: block;
    padding: 3ex 2em;
}

nav ul li a
{
    color: var(--color-nav-txt);
}

nav ul li:hover
{
    background: var(--color-nav-hover-bg);
    cursor: pointer;
}

nav ul li:hover a
{
    color: var(--color-nav-hover-txt);
}

main
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "about about . contact"
                         "articles articles articles articles"
                         "teaching teaching teaching teaching ";
    background: var(--color-main-bg);
}

#about
{
    grid-area: about;
}

#contact
{
    grid-area: contact;
    display: block;
    background: var(--color-contact-bg);
}

#articles
{
    grid-area: articles;
}

#teaching
{
    grid-area: teaching;
}

h1
{
    color: var(--color-h1-txt);
}

h3
{
    color: var(--color-h3-txt);
}

.lesson
{
}

footer
{
    display: flex;
    background: var(--color-footer-bg);
    color: var(--color-footer-txt);
}
